@import './carbon-settings';

// @import '@carbon/type';
@import '@carbon/themes/scss/themes';
// @import '@carbon/layout';
@import 'carbon-components/src/globals/scss/vars';
@import 'carbon-components/src/globals/scss/mixins';

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
  enable-css-custom-properties: true,
);

// Feature flags
// $css--font-face: true;
// $css--plex: true;

// Global styles
// @import '@carbon/type/scss/reset';
// @import 'carbon-components/scss/globals/scss/css--font-face';
// @import 'carbon-components/scss/globals/grid/grid';
$carbon--theme: $carbon--theme--g10;

// all Carbon components
@import 'carbon-components/scss/globals/scss/styles'; 
@import './tailwindcss.css';

#app > .cv-grid {
  // margin-left: 3rem;
  margin-top: 5rem;
}
